**hare i am extracting a list which is in a single list with the help of FOR LOOP of adding if eles condition **

In [1]:
l = [9,5,6,76,[345,67,45,34],'avo','raj']
l1=[]
l2=[]
for i in l:
       if type (i) ==list:
        for j in i:
            if type (j)==int:
              l1.append(j)
       elif type(i)== int:
               l1.append(i)
       else:
           if type(i)== str:
               l2.append(i)

In [2]:
l1

[9, 5, 6, 76, 345, 67, 45, 34]

In [3]:
l2

['avo', 'raj']